<h2>Combien souhaitez vous de groupe?</h2>

<form action="/numgroup/" method="POST">
	Nombre de groupe :  <input type="number" min="0" name="numbergroup">
	<input type="submit">
</form>

<%= @result %>