<!doctype html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<title>Creation de groupe</title>
	<link type="text/css" rel="stylesheet" href="/style.css">
	<!-- <script src="script.js"></script> -->
</head>
<body>
	<header id="header" class="header">
		<a href="/">Créer un groupe</a>
	</header>
	<div class="hero-unit">
	<%= yield %>
	</div>
</body>
</html>